<!-- /templates/page.liquid -->
<div class="grid">
  <div class="grid__item large--five-sixths push--large--one-twelfth">

    {% comment %}
    <header class="section-header text-center">
      <h1>{{ page.title }}</h1>
      <hr class="hr--small">
    </header>
    {% endcomment %}

    <div class="grid">
      <div class="grid__item large--four-fifths push--large--one-tenth">
        <div class="rte rte--nomargin rte--indented-images">
          {{ page.content }}
        </div>
      </div>
    </div>

  </div>
</div>

<div class="newsletter">
  <div class="wrapper">
    {% comment %}

      MailChimp is the go-to newsletter service for Shopify.
      Use the link below to find your MailChimp "form action"
      and insert it in your site settings.

      MailChimp newsletter integration and requirement:
       - http://docs.shopify.com/support/configuration/store-customization/where-do-i-get-my-mailchimp-form-a...

    {% endcomment %}
    {% if settings.newsletter_form_action != blank %}
      {% assign form_action = settings.newsletter_form_action %}
    {% else %}
      {% assign form_action = '#' %}
    {% endif %}
    <form action="{{ form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
      <label for="Email" class="newsletter__label hidden-label">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
      <div class="input-group">
        <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="Email" class="input-group-field newsletter__input" autocorrect="off" autocapitalize="off">
        <span class="input-group-btn">
          <button type="submit" class="btn newsletter__submit" name="subscribe" id="Subscribe">
            <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
            <span class="newsletter__submit-text--small">
              <span class="icon icon-arrow-right" aria-hidden="true"></span>
            </span>
          </button>
        </span>
      </div>
    </form>
  </div>
</div>
