<div class="wrapper">
  {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h2 class="h1 section-header__title">{{ section.settings.title | escape }}</h2>
      <hr class="hr--small">
    </div>
  {% endif %}

  <div class="grid bite-grid">

    {% comment %}
      Show up to 14 products.
      Frontpage will be excluded if products defined automatically.
    {% endcomment %}
    {% assign isEmpty = true %}
    {% assign product_index = 0 %}
    {% assign product_count = 0 %}
    {% assign product_limit = section.blocks.size %}



    {% comment %}
      Loop through the products to display
    {% endcomment %}

    {% for block in section.blocks %}
   		{% assign product = all_products[block.settings.product] %}
        {% assign product_index = product_index | plus: 1 %}
        {% assign product_count = product_count | plus: 1 %}
        {% assign product_handle = product.handle %}

    	{% include 'bite-grid-item' %}


		{% comment %}
			<div class="grid-item" {{ block.shopify_attributes }}>
				{% case block.type %}
					{% when 'product' %}
						{{ block.settings.product }}
						{{ products[block.settings.product].title }}
						{% when 'image' %}
					<img src="{{ block.settings.image | img_url }}">
				{% endcase %}
			</div>
		{% endcomment %}

    {% endfor %}


    {% if product_count > 0 %}
      {% assign isEmpty = false %}
    {% endif %}

    {% if isEmpty %}
      <div class="wrapper">
        <div class="grid">
          <div class="grid__item">
            <div class="rte text-center">
              {{ 'home_page.onboarding.no_content' | t }}
            </div>
          </div>
        </div>
      </div>
    {% endif %}

  </div>
</div>



{% schema %}
{
  "name": "Bite Grid",
  "class": "bite-grid",
  "max_blocks": 14,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "de": "Überschrift",
        "en": "Heading",
        "es": "Título",
        "fr": "Titre",
        "it": "Heading",
        "ja": "見出し",
        "pt-BR": "Título"
      },
      "default": {
        "de": "Bite Grid",
        "en": "Bite Grid",
        "es": "Bite Grid",
        "fr": "Bite Grid",
        "it": "Bite Grid",
        "ja": "Bite Grid",
        "pt-BR": "Bite Grid"
      }
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": {
        "de": "Produkte",
        "en": "Product",
        "es": "Product",
        "fr": "Product",
        "it": "Product",
        "ja": "Product",
        "pt-BR": "Product"
      },
      "settings": [
        {
          "id": "product",
          "type": "product",
          "label": {
            "de": "Product",
            "en": "Product",
            "es": "Product",
            "fr": "Product",
            "it": "Product",
            "ja": "Product",
            "pt-BR": "Product"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "de": "Bite Grid",
        "en": "Bite Grid",
        "es": "Bite Grid",
        "fr": "Bite Grid",
        "it": "Bite Grid",
        "ja": "Bite Grid",
        "pt-BR": "Grid"
      },
      "category": {
        "de": "Bite Specials",
        "en": "Bite Specials",
        "es": "Bite Specials",
        "fr": "Bite Specials",
        "it": "Bite Specials",
        "ja": "Bite Specials",
        "pt-BR": "Bite specials"
      },
      "blocks": [
        {
          "type": "product"
        },
        {
          "type": "product"
        },
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}
