<footer class="site-footer small--text-center" role="contentinfo">
  <div class="wrapper bite-footer">

      {% comment %}
        Determine whether there are social links
      {% endcomment %}
      {% assign footer_social_enable = false %}
      {% if
        settings.social_twitter_link != blank
        or settings.social_facebook_link != blank
        or settings.social_pinterest_link != blank
        or settings.social_google_plus_link != blank
        or settings.social_instagram_link != blank
        or settings.social_tumblr_link != blank
        or settings.social_youtube_link != blank
        or settings.social_vimeo_link != blank
        or settings.social_fancy_link != blank
        or settings.social_snapchat_link != blank
      %}
        {% assign footer_social_enable = true %}
      {% endif %}


      {% assign menu = linklists[section.settings.footer_link_list] %}

      {% if menu.links.size > 0 %}
        {% for toplevel in menu.links %}
          <div class="footer-item__outer">
            <div class="footer-item__inner">
              <span class="footer-item_header">{{ toplevel.title }}</span>
              <ul class="no-bullets site-footer__linklist">
                {% for secondlevel in toplevel.links %}
                  <li><a href="{{ secondlevel.url }}" {% unless template.name == 'index' %}{% if secondlevel.active %}aria-current="page"{% endif %}{% endunless%}>{{ secondlevel.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endfor %}
      {% endif %}

      {% if footer_social_enable %}
        <div class="footer-item__outer">
          <div class="page__footer_inner">
          {% if settings.social_footer_heading != blank %}
              <span class="footer-item_header social_footer_heading">{{ settings.social_footer_heading | escape }}</span>
          {% endif %}
            <ul class="no-bullets social-icons">
              {% if settings.social_facebook_link != blank %}
                <li>
                  <a href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
                    <span class="icon icon-facebook" aria-hidden="true"></span>
                    Facebook
                  </a>
                </li>
              {% endif %}
              {% if settings.social_twitter_link != blank %}
                <li>
                  <a href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
                    <span class="icon icon-twitter" aria-hidden="true"></span>
                    Twitter
                  </a>
                </li>
              {% endif %}
              {% if settings.social_pinterest_link != blank %}
                <li>
                  <a href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
                    <span class="icon icon-pinterest" aria-hidden="true"></span>
                    Pinterest
                  </a>
                </li>
              {% endif %}
              {% if settings.social_instagram_link != blank %}
                <li>
                  <a href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
                    <span class="icon icon-instagram" aria-hidden="true"></span>
                    Instagram
                  </a>
                </li>
              {% endif %}
              {% if settings.social_snapchat_link != blank %}
                <li>
                  <a href="{{ settings.social_snapchat_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
                    <span class="icon icon-snapchat" aria-hidden="true"></span>
                    Snapchat
                  </a>
                </li>
              {% endif %}
              {% if settings.social_google_plus_link != blank %}
                <li>
                  <a href="{{ settings.social_google_plus_link | escape }}" rel="publisher" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Google Plus' }}">
                    <span class="icon icon-google_plus" aria-hidden="true"></span>
                    Google Plus
                  </a>
                </li>
              {% endif %}
              {% if settings.social_tumblr_link != blank %}
                <li>
                  <a href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
                    <span class="icon icon-tumblr" aria-hidden="true"></span>
                    Tumblr
                  </a>
                </li>
              {% endif %}
              {% if settings.social_youtube_link != blank %}
                <li>
                  <a href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
                    <span class="icon icon-youtube" aria-hidden="true"></span>
                    YouTube
                  </a>
                </li>
              {% endif %}
              {% if settings.social_vimeo_link != blank %}
                <li>
                  <a href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
                    <span class="icon icon-vimeo" aria-hidden="true"></span>
                    Vimeo
                  </a>
                </li>
              {% endif %}
              {% if settings.social_fancy_link != blank %}
                <li>
                  <a href="{{ settings.social_fancy_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Fancy' }}">
                    <span class="icon icon-fancy" aria-hidden="true"></span>
                    Fancy
                  </a>
                </li>
              {% endif %}
            </ul>      
          </div>
        </div>
      {% endif %}

      <!--div class="">
        <p>&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: '/' }}</p>
          {%- if section.settings.show_payment_icons -%}
            {%- unless shop.enabled_payment_types == empty -%}
              <span class="visually-hidden">{{ 'general.payment.method' | t }}</span>
              <ul class="inline-list payment-icons">
                {%- for type in shop.enabled_payment_types -%}
                  <li>
                    {{ type | payment_type_svg_tag: class: 'icon' }}
                  </li>
                {%- endfor -%}
              </ul>
            {%- endunless -%}
          {%- endif -%}
      </div-->

  </div>
</footer>



{% schema %}
{
  "name": {
    "de": "Fußzeile",
    "en": "Footer",
    "es": "Pie de página",
    "fr": "Pied de page",
    "it": "Footer",
    "ja": "フッター",
    "pt-BR": "Rodapé"
  },
  "settings": [
    {
      "type": "link_list",
      "id": "footer_link_list",
      "label": {
        "de": "Fußzeilenmenü",
        "en": "Footer menu",
        "es": "Menú inferior",
        "fr": "Menu pied de page",
        "it": "Menu footer",
        "ja": "フッターメニュー",
        "pt-BR": "Menu do rodapé"
      },
      "default": "footer"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": {
        "de": "Zahlungssymbole anzeigen",
        "en": "Show payment icons",
        "es": "Mostrar iconos de pago",
        "fr": "Afficher les icônes de paiement",
        "it": "Mostra le icone di pagamento",
        "ja": "支払いアイコンを表示する",
        "pt-BR": "Exibir ícones de pagamento"
      },
      "default": true
    }
  ]
}
{% endschema %}
